## Pandas -Data analysis library - clean, remove, analysis

In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.3.4'

## Pandas series 
1. It is a 1D array, holding any data type
2. It works on Single column
3. Accessing an item can be done by referring the index

In [4]:
#indexing starts with zero
a=["this", "is", "Pandas", "Series"]
series1 = pd.Series(a)
series1

0      this
1        is
2    Pandas
3    Series
dtype: object

In [7]:
#one can customize the labels
#"index" key word is case sensitive
a=["this", "is", "Pandas", "Series"]
series1 = pd.Series(a, index=["F1","F2","F3","F4"])
series1

F1      this
F2        is
F3    Pandas
F4    Series
dtype: object

In [12]:
#create the series using dict
#once a label is created we can't modify it
a={"s1":[1,2,3], "s2":[3,4,5]}
dicts1=pd.Series(a)
dicts2=pd.Series(a,index=["12","21"])
print(dicts1)
print(dicts2)

s1    [1, 2, 3]
s2    [3, 4, 5]
dtype: object
12    NaN
21    NaN
dtype: object

In [15]:
# we can select specfied keys
a={"s1":[1,2,3], "s2":[3,4,5],"s3":[6,7,8]}
dicts2=pd.Series(a,index=["s1","s3"])
print(dicts2)

s1    [1, 2, 3]
s3    [6, 7, 8]
dtype: object

## Dataframe 
1. It works as multidimensional
2. It is a collection of series

In [17]:
#create a dataframe 
a={"s1":[1,2,3], "s2":[3,4,5],"s3":[6,7,8]}
s1=pd.DataFrame(a)
print(s1)

   s1  s2  s3
0   1   3   6
1   2   4   7
2   3   5   8

In [20]:
#specify the order of columns and define the index of the dataframe
df = pd.DataFrame({"Flower":['Rose','Lilly','Sunflower'],"Flower_colour":["Red","White","Yellow"]},
                  columns = ["Flower","Flower_colour"], index = [1,2,3])
df

      Flower Flower_colour
1       Rose           Red
2      Lilly         White
3  Sunflower        Yellow

In [28]:
#create an array using Numpy
import numpy as np
a1=np.random.randint(2, 10, (2, 3))
pd.DataFrame(a1)
df1

   0  1  2
0  8  4  3
1  5  3  5

In [36]:
#loc attribute to return one or more specified rows- returns a series
print(df1.loc[0])
print(df1.loc[1])
#or
print(df1.loc[[0,1]])

0    8
1    4
2    3
Name: 0, dtype: int32
0    5
1    3
2    5
Name: 1, dtype: int32
   0  1  2
0  8  4  3
1  5  3  5

## Load Files Into a DataFrame using Pandas

### Sample data ("Data.csv")

In [4]:
df=pd.read_csv("data.csv")
df

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [44]:
df.head(25)

    Duration  Pulse  Maxpulse  Calories
0         60    110       130     409.1
1         60    117       145     479.0
2         60    103       135     340.0
3         45    109       175     282.4
4         45    117       148     406.0
5         60    102       127     300.0
6         60    110       136     374.0
7         45    104       134     253.3
8         30    109       133     195.1
9         60     98       124     269.0
10        60    103       147     329.3
11        60    100       120     250.7
12        60    106       128     345.3
13        60    104       132     379.3
14        60     98       123     275.0
15        60     98       120     215.2
16        60    100       120     300.0
17        45     90       112       NaN
18        60    103       123     323.0
19        45     97       125     243.0
20        60    108       131     364.2
21        45    100       119     282.0
22        60    130       101     300.0
23        45    105       132     246.0
24        60    102       126     334.5

In [45]:
df.tail(25)

     Duration  Pulse  Maxpulse  Calories
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [46]:
df.describe()

         Duration       Pulse    Maxpulse     Calories
count  169.000000  169.000000  169.000000   164.000000
mean    63.846154  107.461538  134.047337   375.790244
std     42.299949   14.510259   16.450434   266.379919
min     15.000000   80.000000  100.000000    50.300000
25%     45.000000  100.000000  124.000000   250.925000
50%     60.000000  105.000000  131.000000   318.600000
75%     60.000000  111.000000  141.000000   387.600000
max    300.000000  159.000000  184.000000  1860.400000

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB

In [50]:
print(df.dtypes)
print(df.shape)

Duration      int64
Pulse         int64
Maxpulse      int64
Calories    float64
dtype: object
(169, 4)

### Sample data 2  "chennai.csv"

In [6]:
#New dataframe
df=pd.read_csv("chennai.csv")
df

,Price,Area,Location,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,...,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
0,5500000,1310,Perungalathur,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,5350000,1126,Madhavaram,2,0,0,1,1,1,0,...,1,0,0,0,0,0,0,0,0,0
2,8205000,1307,Karapakkam,3,0,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
3,23400000,3600,Thiruvidandhai,3,0,0,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,10100000,1700,Iyappanthangal,3,0,0,1,1,1,1,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5009,7834999,1599,Korattur,3,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
5010,2408000,740,Ambattur,2,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
5011,5500000,1700,Pallikaranai VGP Shanti Nagar,3,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
5012,3400000,1599,Korattur,3,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
5013,4500000,688,Selaiyur,2,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9

In [3]:
#first 20 rows
df.head(20)

,Price,Area,Location,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,...,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
0,5500000,1310,Perungalathur,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,5350000,1126,Madhavaram,2,0,0,1,1,1,0,...,1,0,0,0,0,0,0,0,0,0
2,8205000,1307,Karapakkam,3,0,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
3,23400000,3600,Thiruvidandhai,3,0,0,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,10100000,1700,Iyappanthangal,3,0,0,1,1,1,1,...,0,0,1,0,0,0,0,0,0,0
5,2950000,576,Mevalurkuppam,1,0,0,1,1,1,1,...,1,0,1,0,0,0,0,0,0,0
6,7600000,1207,Kolapakkam,3,0,0,1,1,0,1,...,1,0,1,0,0,0,0,0,0,0
7,2234000,604,Kundrathur,2,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,5521000,986,Pammal,2,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
9,6321000,1345,Puzhal,3,0,0,1,1,1,0,...,1,0,1,0,0,0,0,0,0,0
10,3404000,510,Selaiyur,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,11600000,1508,Thoraipakkam OMR,3,0,0,1,1,1,1,...,1,0,0,0,0,0,0,0,0,0
12,6536000,1245,Karapakkam,2,0,0,1,1,0,1,...,1,0,0,0,0,0,0,0,0,0
13,24200000,1565,Anna Nagar,3,0,0,0,0,1,0,...,1,0,1,0,0,0,0,0,0,0
14,8162000,1306,Mogappair,2,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
15,6190000,1113,Sholinganallur,2,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
16,9613000,1479,Mogappair,3,0,0,1,1,0,0,...,1,0,0,0,0,0,0,0,0,0
17,7542000,1640,Sholinganallur,3,0,1,1,1,1,1,...,1,0,1,0,0,0,0,0,0,0
18,6338000,1112,Medavakkam,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,2724000,645,Avadi,2,0,1,1,1,1,1,...,1,0,0,0,0,0,0,0,0,0

In [4]:
#find last 20 rows
df.tail(20)

,Price,Area,Location,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,...,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
4994,4796000,705,Ambattur,2,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
4995,4100000,806,Perungalathur,2,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
4996,3496000,1439,Korattur,3,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
4997,3601000,1090,Ambattur,2,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
4998,7500000,925,Ambattur,2,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
4999,2513000,760,Ambattur,2,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
5000,8000000,783,Ambattur,2,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
5001,14000000,1100,Vadapalani,2,1,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
5002,4000000,577,Vandalur,1,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
5003,6800000,1190,Mogappair,3,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
5004,5400000,1400,Palavakkam,3,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
5005,4600000,720,Sunnambu Kolathur S Kolathur,2,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
5006,7834999,1285,Sunnambu Kolathur S Kolathur,3,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
5007,3000000,943,Sunnambu Kolathur S Kolathur,2,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
5008,11100000,800,Sunnambu Kolathur S Kolathur,2,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
5009,7834999,1599,Korattur,3,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
5010,2408000,740,Ambattur,2,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
5011,5500000,1700,Pallikaranai VGP Shanti Nagar,3,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
5012,3400000,1599,Korattur,3,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
5013,4500000,688,Selaiyur,2,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9

In [5]:
print(df.shape)
print(df.dtypes)

(5014, 40)
Price                   int64
Area                    int64
Location               object
No. of Bedrooms         int64
Resale                  int64
MaintenanceStaff        int64
Gymnasium               int64
SwimmingPool            int64
LandscapedGardens       int64
JoggingTrack            int64
RainWaterHarvesting     int64
IndoorGames             int64
ShoppingMall            int64
Intercom                int64
SportsFacility          int64
ATM                     int64
ClubHouse               int64
School                  int64
24X7Security            int64
PowerBackup             int64
CarParking              int64
StaffQuarter            int64
Cafeteria               int64
MultipurposeRoom        int64
Hospital                int64
WashingMachine          int64
Gasconnection           int64
AC                      int64
Wifi                    int64
Children'splayarea      int64
LiftAvailable           int64
BED                     int64
VaastuCompliant         int64
Microwave               int64
GolfCourse              int64
TV                      int64
DiningTable             int64
Sofa                    int64
Wardrobe                int64
Refrigerator            int64
dtype: object

In [6]:
#describe the table
df.describe()

,Price,Area,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,RainWaterHarvesting,...,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
count,5.014000e+03,5014.000000,5014.000000,5014.000000,5014.000000,5014.000000,5014.000000,5014.000000,5014.000000,5014.000000,...,5014.000000,5014.000000,5014.000000,5014.000000,5014.000000,5014.000000,5014.000000,5014.000000,5014.000000,5014.000000
mean,8.731264e+06,1232.992022,2.362984,0.097128,5.000997,5.213602,5.160949,5.114878,5.123055,5.115277,...,5.264260,4.999402,5.068010,4.997208,4.991823,5.009174,5.011767,4.998404,4.991823,5.009174
std,1.034261e+07,641.841841,0.705252,0.296162,4.464256,4.239118,4.296954,4.346406,4.337706,4.345983,...,4.182092,4.465864,4.395648,4.468074,4.473489,4.455995,4.453369,4.466869,4.473489,4.455995
min,2.000000e+06,362.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.095000e+06,865.000000,2.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,5.782000e+06,1067.000000,2.000000,0.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,...,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000
75%,8.675000e+06,1438.750000,3.000000,0.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,...,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000
max,1.900000e+08,7240.000000,5.000000,1.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,...,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000

In [7]:
#to find no of Nan values
df.isna().sum()

Price                  0
Area                   0
Location               0
No. of Bedrooms        0
Resale                 0
MaintenanceStaff       0
Gymnasium              0
SwimmingPool           0
LandscapedGardens      0
JoggingTrack           0
RainWaterHarvesting    0
IndoorGames            0
ShoppingMall           0
Intercom               0
SportsFacility         0
ATM                    0
ClubHouse              0
School                 0
24X7Security           0
PowerBackup            0
CarParking             0
StaffQuarter           0
Cafeteria              0
MultipurposeRoom       0
Hospital               0
WashingMachine         0
Gasconnection          0
AC                     0
Wifi                   0
Children'splayarea     0
LiftAvailable          0
BED                    0
VaastuCompliant        0
Microwave              0
GolfCourse             0
TV                     0
DiningTable            0
Sofa                   0
Wardrobe               0
Refrigerator           0
dtype: int64

In [9]:
#first let us sort the data based on sqft and location
df.sort_values(by=['Area','Location'])

,Price,Area,Location,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,...,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
3706,6150000,362,Kuthambakkam,1,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
857,2075000,379,Medavakkam,1,0,0,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
837,2250000,411,Medavakkam,1,0,0,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2574,5196000,415,Perungudi,1,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
1179,2343000,426,Ambattur,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2341,13600000,6250,Semmancheri,4,1,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
1402,127000000,6500,Royapettah,5,0,1,1,1,1,1,...,1,0,0,0,0,0,0,0,0,0
145,42900000,6600,Thiruvidandhai,4,0,0,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4265,51600000,7200,Nungambakkam,5,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
1389,190000000,7240,Nungambakkam,5,0,0,1,1,1,0,...,1,0,1,0,0,0,0,0,0,0

In [10]:
#pls find the duplicates
df.duplicated().sum()

707

In [11]:
#since there are 707 dups we are going to delete them
#inplace=true will do this operation permanently
#5014-707 = 4307
df.drop_duplicates(inplace=True)
print(df.shape)

(4307, 40)

In [12]:
#since 9 in gym, swimming pool and etc is not logical we will replace those values with 1
# we can use if clause
for i in df.index:
    if df.loc[i,'SwimmingPool']==9:
        df.loc[i,'SwimmingPool']=1
        
print(df.tail(10))

         Price  Area                       Location  No. of Bedrooms  Resale  \
5004   5400000  1400                     Palavakkam                3       0
5005   4600000   720   Sunnambu Kolathur S Kolathur                2       0
5006   7834999  1285   Sunnambu Kolathur S Kolathur                3       0
5007   3000000   943   Sunnambu Kolathur S Kolathur                2       0
5008  11100000   800   Sunnambu Kolathur S Kolathur                2       0
5009   7834999  1599                       Korattur                3       0
5010   2408000   740                       Ambattur                2       0
5011   5500000  1700  Pallikaranai VGP Shanti Nagar                3       0
5012   3400000  1599                       Korattur                3       0
5013   4500000   688                       Selaiyur                2       0

      MaintenanceStaff  Gymnasium  SwimmingPool  LandscapedGardens  \
5004                 9          9             1                  9
5005                 9          9             1                  9
5006                 9          9             1                  9
5007                 9          9             1                  9
5008                 9          9             1                  9
5009                 9          9             1                  9
5010                 9          9             1                  9
5011                 9          9             1                  9
5012                 9          9             1                  9
5013                 9          9             1                  9

      JoggingTrack  ...  LiftAvailable  BED  VaastuCompliant  Microwave  \
5004             9  ...              9    9                9          9
5005             9  ...              9    9                9          9
5006             9  ...              9    9                9          9
5007             9  ...              9    9                9          9
5008             9  ...              9    9                9          9
5009             9  ...              9    9                9          9
5010             9  ...              9    9                9          9
5011             9  ...              9    9                9          9
5012             9  ...              9    9                9          9
5013             9  ...              9    9                9          9

      GolfCourse  TV  DiningTable  Sofa  Wardrobe  Refrigerator
5004           9   9            9     9         9             9
5005           9   9            9     9         9             9
5006           9   9            9     9         9             9
5007           9   9            9     9         9             9
5008           9   9            9     9         9             9
5009           9   9            9     9         9             9
5010           9   9            9     9         9             9
5011           9   9            9     9         9             9
5012           9   9            9     9         9             9
5013           9   9            9     9         9             9

[10 rows x 40 columns]

In [17]:
#alternate method
#df['column name'] = df['column name'].replace(['1st old value','2nd old value',...],['1st new value','2nd new value',...])
df_new = df.replace(9,1)
print(df_new)

         Price  Area                       Location  No. of Bedrooms  Resale  \
0      5500000  1310                  Perungalathur                3       0
1      5350000  1126                     Madhavaram                2       0
2      8205000  1307                     Karapakkam                3       0
3     23400000  3600                 Thiruvidandhai                3       0
4     10100000  1700                 Iyappanthangal                3       0
...        ...   ...                            ...              ...     ...
5009   7834999  1599                       Korattur                3       0
5010   2408000   740                       Ambattur                2       0
5011   5500000  1700  Pallikaranai VGP Shanti Nagar                3       0
5012   3400000  1599                       Korattur                3       0
5013   4500000   688                       Selaiyur                2       0

      MaintenanceStaff  Gymnasium  SwimmingPool  LandscapedGardens  \
0                    0          0             0                  0
1                    0          1             1                  1
2                    0          1             1                  1
3                    0          1             1                  0
4                    0          1             1                  1
...                ...        ...           ...                ...
5009                 1          1             1                  1
5010                 1          1             1                  1
5011                 1          1             1                  1
5012                 1          1             1                  1
5013                 1          1             1                  1

      JoggingTrack  ...  LiftAvailable  BED  VaastuCompliant  Microwave  \
0                0  ...              0    0                0          0
1                0  ...              1    0                0          0
2                1  ...              0    0                0          0
3                1  ...              0    0                0          0
4                1  ...              0    0                1          0
...            ...  ...            ...  ...              ...        ...
5009             1  ...              1    1                1          1
5010             1  ...              1    1                1          1
5011             1  ...              1    1                1          1
5012             1  ...              1    1                1          1
5013             1  ...              1    1                1          1

      GolfCourse  TV  DiningTable  Sofa  Wardrobe  Refrigerator
0              0   0            0     0         0             0
1              0   0            0     0         0             0
2              0   0            0     0         0             0
3              0   0            0     0         0             0
4              0   0            0     0         0             0
...          ...  ..          ...   ...       ...           ...
5009           1   1            1     1         1             1
5010           1   1            1     1         1             1
5011           1   1            1     1         1             1
5012           1   1            1     1         1             1
5013           1   1            1     1         1             1

[4307 rows x 40 columns]

In [2]:
#df_new['Price'] = df_new['Price'].replace('[\$,]', '', regex=True).astype(float)
#print(df_new)
#print(df_new.dtypes)

In [7]:
#get different unique locations
print(df['Location'].unique())

['Perungalathur' 'Madhavaram' 'Karapakkam' 'Thiruvidandhai'
 'Iyappanthangal' 'Mevalurkuppam' 'Kolapakkam' 'Kundrathur' 'Pammal'
 'Puzhal' 'Selaiyur' 'Thoraipakkam OMR' 'Anna Nagar' 'Mogappair'
 'Sholinganallur' 'Medavakkam' 'Avadi' 'Tiruvottiyur' 'Manapakkam'
 'Madipakkam' 'Thiruvanmiyur' 'Ramapuram' 'Saidapet' 'Poonamallee'
 'Pallavaram' 'Maraimalai Nagar' 'Madambakkam' 'Perungudi' 'Villivakkam'
 'Adyar' 'Navallur' 'Moolacheri' 'Chromepet' 'Nandambakkam' 'Kelambakkam'
 'Vadapalani' 'Kumananchavadi' 'Porur' 'Periyapanicheri'
 'Manikandan Nagar' 'Kodambakkam' 'Velachery' 'East Tambaram'
 'Gopalapuram' 'Sunnambu Kolathur S Kolathur' 'Perumbakkam' 'Cholambedu'
 'Urapakkam' 'Raja Annamalai Puram' 'Besant Nagar' 'Peerakankaranai'
 'Nanmangalam' 'Jamalia' 'Guduvancheri' 'Sembakkam' 'Adambakkam'
 'Nungambakkam' 'T Nagar' 'K K Nagar' 'Ambattur' 'Valasaravakkam'
 'Kanathur Reddikuppam' 'Mugalivakkam' 'Purasaiwakkam' 'Maduravoyal'
 'Gowrivakkam' 'Mudichur' 'West Tambaram' 'Alwarpet' 'Annanagar West'
 'Thiruverkadu' 'tambaram west' 'Guindy' 'Korattur' 'Tambaram Sanatoruim'
 'Irumbuliyur' 'Kolathur' 'Thirumullaivoyal' 'Singaperumal Koil'
 'Ayapakkam' 'Perambur' 'Chetpet' 'Kilpauk' 'Egmore' 'Alandur' 'Kovur'
 'Vandalur' 'Pozhichalur' 'Vanagaram' 'Thoraipakkam' 'Ullagaram'
 'Kovilambakkam' 'Kattupakkam' 'Thirumazhisai' 'Kattankulathur'
 'Ayanambakkam' 'Sithalapakkam' 'Vengaivasal' 'Kilkattalai' 'Annanagar'
 'Chengalpattu' 'Pallikaranai' 'Rajakilpakkam' 'Chitlapakkam' 'Palavakkam'
 'Kotturpuram' 'Nenmeli' 'Ramavaram' 'Padi' 'NehruNagar' 'Pazavanthangal'
 'Thatchoor' 'Padur' 'Iyyappanthangal' 'Mambakkam' 'Egatoor' 'Semmancheri'
 'Virugambakkam' 'Moolakadai' 'Siruseri' 'Velappanchavadi' 'Ekkatuthangal'
 'Royapettah' 'Nandanam' 'Vellakkal' 'Annamalai Colony' 'Thalambur'
 'Nanganallur' 'Chembarambakkam' 'Teynampet' 'Mannivakkam' 'Thaiyur'
 'Injambakkam' 'Aminjikarai' 'CIT Nagar' 'Koyambedu' 'Kil Ayanambakkam'
 'Choolaimedu' 'Thirumudivakkam' 'Kottivakkam' 'Ponneri'
 'Mahindra World City' 'Purasawalkam' 'Anakaputhur' 'TNHB' 'Manali'
 'Mogappair East' 'Bakthavatchalapuram' 'Chikkarayapuram' 'Triplicane'
 'Tiruporur Near Kelambakkam' 'Agaramthen' 'Vengambakkam' 'Keelma Nagar'
 'Gerugambakkam' 'Ottiyambakkam' 'Vettuvankani' 'Ponniammanmedu'
 'Ambattur INDUSTRIAL ESTATE' 'Royapuram' 'Shanthi Nagar' 'Serapanacheri'
 'Kuthambakkam' 'Anna Nagar East' 'Pudupakkam' 'Thiruneermalai' 'Mangadu'
 'Arumbakkam' 'Irandankattalai' 'West Mambalam' 'Tondiarpet' 'Ayanavaram'
 'Mappedu' 'Abiramapuram' 'Mylapore' 'Shenoy Nagar' 'Ashok Nagar'
 'Tharapakkam' 'OMR Road' 'GST Road' '200 Feet Radial Road' 'Adhanur'
 'Egattur' 'tambaram east' 'Pallikaranai VGP Shanti Nagar']

In [32]:
#Group by in pandas
grouped = df.groupby(df.Location)
Ltgrp = grouped.get_group("Anna Nagar")
print(Ltgrp)

         Price  Area    Location  No. of Bedrooms  Resale  MaintenanceStaff  \
13    24200000  1565  Anna Nagar                3       0                 0
66     6259000   963  Anna Nagar                2       0                 0
118   13600000   850  Anna Nagar                2       0                 0
252   15000000  1161  Anna Nagar                3       0                 1
488    6396000   984  Anna Nagar                2       0                 0
515    6948000  1069  Anna Nagar                2       0                 0
516    6461000   994  Anna Nagar                2       0                 0
517    6389000   983  Anna Nagar                2       0                 0
616   22000000  2062  Anna Nagar                3       0                 1
618   22000000  2062  Anna Nagar                3       1                 1
620   21000000  2062  Anna Nagar                3       1                 1
621   15500000  1555  Anna Nagar                2       1                 1
766    6831000  1051  Anna Nagar                2       0                 0
768    6636000  1021  Anna Nagar                2       0                 0
771    6565000  1010  Anna Nagar                2       0                 0
1042  51600000  3355  Anna Nagar                4       0                 0
1128  24500000  2062  Anna Nagar                3       1                 1
1419  15600000  1161  Anna Nagar                3       0                 0
2051  20500000  1283  Anna Nagar                3       0                 0
2068  22300000  1748  Anna Nagar                2       0                 0
2142  25400000  1610  Anna Nagar                3       0                 0
2185  31200000  1750  Anna Nagar                3       0                 0
2204  26600000  1540  Anna Nagar                3       0                 0
2206  24800000  1375  Anna Nagar                3       0                 0
2207  27200000  1525  Anna Nagar                3       0                 0
2220  33900000  1875  Anna Nagar                3       0                 0
2221  28000000  1560  Anna Nagar                3       0                 0
2222  26400000  1500  Anna Nagar                3       0                 0
2223  27400000  1565  Anna Nagar                3       0                 0
2226  27100000  1520  Anna Nagar                3       0                 0
2426  16399999  1215  Anna Nagar                3       0                 9
2428  20000000  1215  Anna Nagar                3       0                 9
2750   7991000  2400  Anna Nagar                5       0                 9
2757  20099999  2050  Anna Nagar                3       1                 9
2758  30000000  1160  Anna Nagar                2       1                 9
2771   7800000  2062  Anna Nagar                2       1                 9
2773   2334000  2030  Anna Nagar                3       1                 9
3465   4579000  1565  Anna Nagar                3       0                 9
3697   3713000  1524  Anna Nagar                3       0                 9
3710   6998999   960  Anna Nagar                2       0                 9
3712  21900000  1020  Anna Nagar                2       0                 9
3713  39900000   836  Anna Nagar                2       0                 9
4081   5500000  1215  Anna Nagar                3       0                 9
4448   4485000  1476  Anna Nagar                3       1                 9
4494   6256000  1320  Anna Nagar                3       1                 9
4551   7659000  1560  Anna Nagar                2       0                 9
4584   3400000  1150  Anna Nagar                2       1                 9
4613  13500000  2661  Anna Nagar                3       1                 9
4614  10100000  2661  Anna Nagar                3       1                 9
4616  10200000  1150  Anna Nagar                2       1                 9
4679  31200000  2232  Anna Nagar                3       1                 9
4687   5598000   990  Anna Nagar                2       0                 9
4773   3753000  1150  Anna Nagar                3       1                 9
4775   8000000  1200  Anna Nagar                3       1                 9
4790  23000000  1150  Anna Nagar                3       1                 9
4792   7500000  1200  Anna Nagar                3       1                 9

      Gymnasium  SwimmingPool  LandscapedGardens  JoggingTrack  ...  \
13            0             0                  1             0  ...
66            1             0                  0             0  ...
118           1             1                  0             0  ...
252           0             0                  0             0  ...
488           1             0                  0             0  ...
515           1             0                  0             0  ...
516           1             0                  0             0  ...
517           1             0                  0             0  ...
616           1             1                  1             1  ...
618           1             1                  1             1  ...
620           1             1                  1             1  ...
621           1             1                  1             1  ...
766           1             0                  0             0  ...
768           1             0                  0             0  ...
771           1             0                  0             0  ...
1042          0             0                  0             0  ...
1128          1             1                  1             1  ...
1419          1             0                  0             0  ...
2051          1             1                  0             0  ...
2068          1             1                  0             0  ...
2142          0             0                  0             0  ...
2185          1             1                  1             0  ...
2204          0             0                  0             0  ...
2206          1             1                  1             0  ...
2207          1             1                  1             0  ...
2220          1             1                  0             0  ...
2221          1             1                  0             0  ...
2222          1             1                  0             0  ...
2223          1             1                  0             0  ...
2226          1             1                  0             0  ...
2426          9             1                  9             9  ...
2428          9             1                  9             9  ...
2750          9             1                  9             9  ...
2757          9             1                  9             9  ...
2758          9             1                  9             9  ...
2771          9             1                  9             9  ...
2773          9             1                  9             9  ...
3465          9             1                  9             9  ...
3697          9             1                  9             9  ...
3710          9             1                  9             9  ...
3712          9             1                  9             9  ...
3713          9             1                  9             9  ...
4081          9             1                  9             9  ...
4448          9             1                  9             9  ...
4494          9             1                  9             9  ...
4551          9             1                  9             9  ...
4584          9             1                  9             9  ...
4613          9             1                  9             9  ...
4614          9             1                  9             9  ...
4616          9             1                  9             9  ...
4679          9             1                  9             9  ...
4687          9             1                  9             9  ...
4773          9             1                  9             9  ...
4775          9             1                  9             9  ...
4790          9             1                  9             9  ...
4792          9             1                  9             9  ...

      LiftAvailable  BED  VaastuCompliant  Microwave  GolfCourse  TV  \
13                1    0                1          0           0   0
66                1    0                0          0           0   0
118               1    1                0          1           0   0
252               1    0                1          0           0   0
488               1    0                0          0           0   0
515               1    0                0          0           0   0
516               1    0                0          0           0   0
517               1    0                0          0           0   0
616               1    0                1          0           0   0
618               1    0                1          0           0   0
620               1    0                1          0           0   0
621               1    0                1          0           0   0
766               1    0                0          0           0   0
768               1    0                0          0           0   0
771               1    0                0          0           0   0
1042              1    0                0          0           0   0
1128              1    1                1          1           0   1
1419              1    0                0          0           0   0
2051              1    1                0          1           0   0
2068              1    0                0          0           0   0
2142              0    0                0          0           0   0
2185              1    1                0          1           0   1
2204              0    0                0          0           0   0
2206              1    1                1          0           0   1
2207              1    0                1          1           0   1
2220              1    0                0          1           0   1
2221              1    0                0          1           0   1
2222              1    0                1          1           0   0
2223              1    0                0          0           0   1
2226              1    1                0          1           0   1
2426              9    9                9          9           9   9
2428              9    9                9          9           9   9
2750              9    9                9          9           9   9
2757              9    9                9          9           9   9
2758              9    9                9          9           9   9
2771              9    9                9          9           9   9
2773              9    9                9          9           9   9
3465              9    9                9          9           9   9
3697              9    9                9          9           9   9
3710              9    9                9          9           9   9
3712              9    9                9          9           9   9
3713              9    9                9          9           9   9
4081              9    9                9          9           9   9
4448              9    9                9          9           9   9
4494              9    9                9          9           9   9
4551              9    9                9          9           9   9
4584              9    9                9          9           9   9
4613              9    9                9          9           9   9
4614              9    9                9          9           9   9
4616              9    9                9          9           9   9
4679              9    9                9          9           9   9
4687              9    9                9          9           9   9
4773              9    9                9          9           9   9
4775              9    9                9          9           9   9
4790              9    9                9          9           9   9
4792              9    9                9          9           9   9

      DiningTable  Sofa  Wardrobe  Refrigerator
13              0     0         0             0
66              0     0         0             0
118             1     1         0             1
252             0     0         0             0
488             0     0         0             0
515             0     0         0             0
516             0     0         0             0
517             0     0         0             0
616             0     0         0             0
618             0     0         0             0
620             0     0         0             0
621             0     0         0             0
766             0     0         0             0
768             0     0         0             0
771             0     0         0             0
1042            0     0         0             0
1128            1     1         0             1
1419            0     0         0             0
2051            1     1         0             1
2068            1     0         0             0
2142            0     0         0             0
2185            1     1         0             1
2204            0     0         0             0
2206            1     0         0             0
2207            1     1         0             1
2220            1     1         0             1
2221            1     1         0             1
2222            1     1         0             1
2223            1     1         0             1
2226            1     1         0             1
2426            9     9         9             9
2428            9     9         9             9
2750            9     9         9             9
2757            9     9         9             9
2758            9     9         9             9
2771            9     9         9             9
2773            9     9         9             9
3465            9     9         9             9
3697            9     9         9             9
3710            9     9         9             9
3712            9     9         9             9
3713            9     9         9             9
4081            9     9         9             9
4448            9     9         9             9
4494            9     9         9             9
4551            9     9         9             9
4584            9     9         9             9
4613            9     9         9             9
4614            9     9         9             9
4616            9     9         9             9
4679            9     9         9             9
4687            9     9         9             9
4773            9     9         9             9
4775            9     9         9             9
4790            9     9         9             9
4792            9     9         9             9

[56 rows x 40 columns]

In [65]:
#segregating the house based on price range
df_0_price = df[df['Price'] <= 2000000]
df_0_price

,Price,Area,Location,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,...,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
1649,2000000,625,Maraimalai Nagar,2,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2996,2000000,850,Avadi,2,0,9,9,1,9,9,...,9,9,9,9,9,9,9,9,9,9
4085,2000000,1123,Iyappanthangal,2,0,9,9,1,9,9,...,9,9,9,9,9,9,9,9,9,9
4104,2000000,1191,Adambakkam,3,0,9,9,1,9,9,...,9,9,9,9,9,9,9,9,9,9
4167,2000000,1125,Rajakilpakkam,3,0,9,9,1,9,9,...,9,9,9,9,9,9,9,9,9,9
4179,2000000,580,Pammal,1,0,9,9,1,9,9,...,9,9,9,9,9,9,9,9,9,9

In [9]:
a=df.agg({'Area' : ['min', 'max'], 'Price' : ['min', 'max']})
a

     Area      Price
min   362    2000000
max  7240  190000000

### Data Correlations
- Finding the Relation between the columns
- Ignore non - numeric values
- varies from -1 to 1
- Prefect corelation :1
- Good Corelation : -0.9,0.9
- Corelation limit : -0.6,0.6

In [39]:
df_new.corr()

,Price,Area,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,RainWaterHarvesting,...,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
Price,1.000000,0.426978,0.293396,0.063762,0.023999,0.144342,0.137159,0.112590,0.035315,0.056501,...,0.058488,0.021973,0.048947,0.025986,0.013625,0.018643,0.024562,0.029769,0.013625,0.019976
Area,0.426978,1.000000,0.760151,0.070875,0.049495,0.204947,0.196811,0.162667,0.127124,0.125477,...,0.090252,0.040990,0.099089,0.044117,0.039517,0.036738,0.038792,0.045797,0.039517,0.036157
No. of Bedrooms,0.293396,0.760151,1.000000,0.062326,0.042598,0.146436,0.135292,0.137303,0.096830,0.101919,...,0.070573,0.037702,0.076611,0.041172,0.032720,0.038495,0.042669,0.042833,0.032720,0.039160
Resale,0.063762,0.070875,0.062326,1.000000,-0.006636,-0.042338,-0.002401,-0.018032,-0.024486,-0.013270,...,-0.049048,-0.010283,0.022985,-0.014083,-0.016929,-0.017738,-0.019333,-0.011550,-0.016929,-0.022505
MaintenanceStaff,0.023999,0.049495,0.042598,-0.006636,1.000000,0.615517,0.712039,0.788232,0.763584,0.785275,...,0.528706,0.971541,0.862661,0.974464,0.983298,0.953623,0.948811,0.972515,0.983298,0.953623
Gymnasium,0.144342,0.204947,0.146436,-0.042338,0.615517,1.000000,0.856895,0.766433,0.786525,0.736984,...,0.536368,0.609915,0.661787,0.612839,0.606392,0.570315,0.576847,0.614021,0.606392,0.576208
SwimmingPool,0.137159,0.196811,0.135292,-0.002401,0.712039,0.856895,1.000000,0.792357,0.786920,0.796811,...,0.550917,0.702045,0.736905,0.710815,0.704409,0.675767,0.682520,0.713271,0.704409,0.681201
LandscapedGardens,0.112590,0.162667,0.137303,-0.018032,0.788232,0.766433,0.792357,1.000000,0.832205,0.800481,...,0.500960,0.777277,0.778322,0.771901,0.777107,0.743617,0.741217,0.770302,0.777107,0.744657
JoggingTrack,0.035315,0.127124,0.096830,-0.024486,0.763584,0.786525,0.786920,0.832205,1.000000,0.829857,...,0.475696,0.756799,0.787962,0.751445,0.761118,0.721366,0.718825,0.749787,0.761118,0.723464
RainWaterHarvesting,0.056501,0.125477,0.101919,-0.013270,0.785275,0.736984,0.796811,0.800481,0.829857,1.000000,...,0.526675,0.763951,0.823388,0.767911,0.776241,0.737494,0.737164,0.766308,0.776241,0.741656
IndoorGames,0.057006,0.134128,0.116954,-0.015381,0.766999,0.777544,0.790142,0.858683,0.801199,0.846239,...,0.505524,0.749764,0.760349,0.751722,0.762413,0.722747,0.720218,0.751112,0.762413,0.724844
ShoppingMall,0.022028,0.064688,0.054377,-0.000732,0.966709,0.626628,0.727915,0.778066,0.772872,0.790693,...,0.528148,0.955658,0.877766,0.958645,0.967708,0.937338,0.932416,0.956653,0.967708,0.937338
Intercom,0.092417,0.142497,0.121355,0.017763,0.777590,0.756851,0.797171,0.776679,0.751745,0.741939,...,0.548930,0.770790,0.717157,0.778919,0.772780,0.747359,0.754325,0.781463,0.772780,0.753615
SportsFacility,0.043472,0.084991,0.070685,0.027289,0.850770,0.713520,0.787448,0.748796,0.730672,0.758489,...,0.546956,0.845862,0.776511,0.854418,0.848407,0.826102,0.832333,0.856071,0.848407,0.832144
ATM,0.010790,0.054160,0.034525,-0.005766,0.936378,0.640796,0.746367,0.763679,0.754435,0.806796,...,0.532990,0.921474,0.854170,0.924606,0.934181,0.902250,0.897081,0.922518,0.934181,0.902250
ClubHouse,0.108244,0.174220,0.129694,-0.011580,0.728652,0.832261,0.884740,0.815710,0.774979,0.817845,...,0.569308,0.715470,0.739989,0.726219,0.720699,0.690979,0.696702,0.726552,0.720699,0.697431
School,0.013207,0.053754,0.046400,0.000111,0.948042,0.625581,0.703340,0.781353,0.778987,0.780427,...,0.537381,0.947708,0.855892,0.942991,0.951329,0.920209,0.915168,0.939982,0.951329,0.920209
24X7Security,0.074843,0.150920,0.123172,0.005036,0.771787,0.762716,0.774200,0.833386,0.881031,0.813061,...,0.522694,0.761861,0.773872,0.756504,0.761981,0.723336,0.722903,0.753805,0.761981,0.727531
PowerBackup,0.126129,0.168243,0.126527,-0.058805,0.548950,0.716245,0.676418,0.628733,0.631863,0.625415,...,0.614557,0.548352,0.566402,0.548025,0.542260,0.557011,0.559735,0.547822,0.542260,0.558275
CarParking,0.049647,0.110097,0.083335,-0.010397,0.775141,0.730376,0.798625,0.788864,0.824819,0.825750,...,0.531814,0.761048,0.771577,0.756731,0.766298,0.726893,0.723349,0.754049,0.766298,0.728986
StaffQuarter,0.022150,0.068274,0.054483,0.021319,0.950442,0.636481,0.736088,0.780167,0.795724,0.814757,...,0.547007,0.939417,0.903810,0.942468,0.952727,0.920697,0.915665,0.940434,0.952727,0.920697
Cafeteria,0.026967,0.081990,0.063505,-0.009443,0.907403,0.663121,0.769206,0.796021,0.808918,0.782388,...,0.493550,0.902320,0.811831,0.904561,0.914452,0.880572,0.878206,0.902413,0.914452,0.882542
MultipurposeRoom,0.031665,0.112646,0.090357,-0.012623,0.822271,0.734595,0.799864,0.805314,0.875909,0.822719,...,0.470970,0.812362,0.804599,0.815021,0.825479,0.789778,0.785724,0.814598,0.825479,0.790794
Hospital,0.016002,0.054010,0.043319,-0.000574,0.960409,0.622786,0.711253,0.774557,0.784036,0.786141,...,0.536979,0.964848,0.870326,0.960090,0.968178,0.937829,0.932911,0.957131,0.968178,0.937829
WashingMachine,0.027788,0.044059,0.042261,-0.015508,0.970082,0.609629,0.709575,0.768047,0.746408,0.765084,...,0.527684,0.982157,0.850996,0.991815,0.985198,0.973031,0.976002,0.992770,0.985198,0.974967
Gasconnection,0.036804,0.055933,0.056937,-0.010417,0.939352,0.627449,0.709863,0.748199,0.728617,0.753528,...,0.540291,0.948756,0.827352,0.955706,0.948537,0.929972,0.934691,0.957554,0.948537,0.935827
AC,0.024701,0.047161,0.039927,-0.000953,0.975927,0.608434,0.707623,0.771807,0.751385,0.767819,...,0.523343,0.985075,0.855934,0.988927,0.990911,0.969305,0.965521,0.988928,0.990911,0.968338
Wifi,0.013625,0.039517,0.032720,-0.016929,0.983298,0.606392,0.704409,0.777107,0.761118,0.776241,...,0.521148,0.986625,0.863956,0.989481,1.000000,0.969119,0.964419,0.987576,1.000000,0.969119
Children'splayarea,0.099894,0.163869,0.111554,-0.026647,0.637092,0.876485,0.799121,0.728388,0.764637,0.700776,...,0.595603,0.632638,0.668053,0.634255,0.627584,0.592121,0.598689,0.634328,0.627584,0.599053
LiftAvailable,0.058488,0.090252,0.070573,-0.049048,0.528706,0.536368,0.550917,0.500960,0.475696,0.526675,...,1.000000,0.526920,0.551018,0.526688,0.521148,0.536456,0.540375,0.527704,0.521148,0.537755
BED,0.021973,0.040990,0.037702,-0.010283,0.971541,0.609915,0.702045,0.777277,0.756799,0.763951,...,0.526920,1.000000,0.851730,0.986512,0.986625,0.965805,0.965869,0.986503,0.986625,0.965805
VaastuCompliant,0.048947,0.099089,0.076611,0.022985,0.862661,0.661787,0.736905,0.778322,0.787962,0.823388,...,0.551018,0.851730,1.000000,0.855196,0.863956,0.830424,0.826688,0.852885,0.863956,0.831425
Microwave,0.025986,0.044117,0.041172,-0.014083,0.974464,0.612839,0.710815,0.771901,0.751445,0.767911,...,0.526688,0.986512,0.855196,1.000000,0.989481,0.969749,0.973703,0.995184,0.989481,0.975552
GolfCourse,0.013625,0.039517,0.032720,-0.016929,0.983298,0.606392,0.704409,0.777107,0.761118,0.776241,...,0.521148,0.986625,0.863956,0.989481,1.000000,0.969119,0.964419,0.987576,1.000000,0.969119
TV,0.018643,0.036738,0.038495,-0.017738,0.953623,0.570315,0.675767,0.743617,0.721366,0.737494,...,0.536456,0.965805,0.830424,0.969749,0.969119,1.000000,0.991262,0.970667,0.969119,0.990288
DiningTable,0.024562,0.038792,0.042669,-0.019333,0.948811,0.576847,0.682520,0.741217,0.718825,0.737164,...,0.540375,0.965869,0.826688,0.973703,0.964419,0.991262,1.000000,0.975583,0.964419,0.995151
Sofa,0.029769,0.045797,0.042833,-0.011550,0.972515,0.614021,0.713271,0.770302,0.749787,0.766308,...,0.527704,0.986503,0.852885,0.995184,0.987576,0.970667,0.975583,1.000000,0.987576,0.977440
Wardrobe,0.013625,0.039517,0.032720,-0.016929,0.983298,0.606392,0.704409,0.777107,0.761118,0.776241,...,0.521148,0.986625,0.863956,0.989481,1.000000,0.969119,0.964419,0.987576,1.000000,0.969119
Refrigerator,0.019976,0.036157,0.039160,-0.022505,0.953623,0.576208,0.681201,0.744657,0.723464,0.741656,...,0.537755,0.965805,0.831425,0.975552,0.969119,0.990288,0.995151,0.977440,0.969119,1.000000